<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="app.css" rel="stylesheet">

    <title>Привет мир!</title>
</head>
<body>
<div class="app">
    <div class="app_left">
        <div class="offcanvas offcanvas-start app_left_menu" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-body mt-5 mt-md-0">
                <a href="" class="user_card mt-0">
                <img class="user_icon" src="img/ivan.jpeg"/>
                <div class="">
                    <div class="user_title">Иван Понамарев</div>
                    <div class="user_description">Full Stack Developer</div>
                </div>
                    <div class="detail_view"></div>
                </a>

                <div class="tables bg mt-5">
                    <a href="" class="t_row t_row_active">
                        <div class="t_content">
                            <div class="t_title">Проекты</div>
                        </div>
                        <div class="t_view">
                        </div>
                    </a>
                    <a href="" class="t_row">
                        <div class="t_content">
                            <div class="t_title">Обо мне</div>
                        </div>
                        <div class="t_view">
                        </div>
                    </a>
                    <a href="" class="t_row">
                        <div class="t_content">
                            <div class="t_title">Контакты</div>
                        </div>
                        <div class="t_view">
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
    <div class="app_content">
        <div class="app_menu_mobile">
            <div class="app_menu_icon_view"  data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.43945 1.93945H21.5522C21.9424 1.93945 22.2578 1.63232 22.2578 1.25049C22.2578 0.860352 21.9424 0.553223 21.5522 0.553223H1.43945C1.04932 0.553223 0.742188 0.860352 0.742188 1.25049C0.742188 1.63232 1.04932 1.93945 1.43945 1.93945ZM1.43945 6.729H21.5522C21.9424 6.729 22.2578 6.42188 22.2578 6.03174C22.2578 5.6416 21.9424 5.33447 21.5522 5.33447H1.43945C1.04932 5.33447 0.742188 5.6416 0.742188 6.03174C0.742188 6.42188 1.04932 6.729 1.43945 6.729ZM1.43945 11.5103H21.5522C21.9424 11.5103 22.2578 11.2031 22.2578 10.8047C22.2578 10.4229 21.9424 10.1157 21.5522 10.1157H1.43945C1.04932 10.1157 0.742188 10.4229 0.742188 10.8047C0.742188 11.2031 1.04932 11.5103 1.43945 11.5103Z" fill="#3C3C43" fill-opacity="0.3"/>
                </svg>
            </div>
            <div class=""></div>
        </div>


        12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>
        12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>
        12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>
        12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>
        12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>
        12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>  12341234<br/>

    </div>
</div>

<!-- Дополнительный JavaScript; выберите один из двух! -->

<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<!-- Вариант 2: Bootstrap JS отдельно от Popper
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
-->
</body>
</html>