//
//Базовые цвета
//
/*:root {
  --colorText: #2C2D2E; //Основной чёрный цвет для текста, иконок и проч
  --colorTextSecondary: #919399; //Цвет для текста аннотаций, сносок и атрибутов
  --colorTextContrast: #FFFFFF; //Инверсный цвет для шрифта на тёмных фонах
  --colorBg: #FFFFFF; //Основной фоновый цвет
  --colorBgSecondary: #F2F2F7; //Дополнительный фоновый цвет для разграничения объектов, находящихся на одной плоскости. Заливка стандартных элементов управления
  --colorBgThumbnail: #00103D; //Фоновый цвет для иконоки товара
  --colorBgContrast: #2C2D2E; //Инверсный фоновый цвет
  --colorIcon: #2C2D2E; //Цвет основной иконки
  --colorIconSecondary: #BFC1C7; //Цвет второстепенной иконки
  --colorIconContrast: #FFFFFF; //Цвет иконки на контрастном фоне
  --colorLink: #005BD1; //Цвет для основных ссылок
  --colorLinkContrast: #FFFFFF; //Цвет ссылки на инверсном фоне
  --colorLinkVisited: #528FDF; //Цвет для посещённых ссылок
  --colorSuccess: #0DC268; //Цвет положительных статусов
  --colorError: #ED0A34; //Цвет ошибок и критичных предупреждений
  --colorNotify: #FF9E00; //Цвет индикатора непрочитанности
  --colorWarning: #FF9E00; //Цвет индикатора непрочитанности
  --colorBgWarning: #FFFCE0; //Фоновый цвет для предупреждений
  --colorRating: #FFD400; //Используется в рейтингах
  --colorTrueBlack: #000000; //Абсолютно чёрный. Используется для получения вспомогательных цветов через прозрачность
  --colorTrueWhite: #FFFFFF; //Абсолютно белый. Используется для получения вспомогательных цвет через прозрачность
  --colorState: #00103D; //Цвет для состояний hover, active и focus. На основных проектах используется черный. Прозрачность цвета определяется параметрами toneValueX1, toneValueX2,
  --colorAlert: #C1341B; //Цвет алертов. Используется для подсветки фишинговых
  --colorBgHighlight: #FFF1AD; //Цвет подсветки
}*/

$colorText: #2C2D2E; //Основной чёрный цвет для текста, иконок и проч
$colorTextSecondary: #919399; //Цвет для текста аннотаций, сносок и атрибутов
$colorTextContrast: #FFFFFF; //Инверсный цвет для шрифта на тёмных фонах
$colorBg: #FFFFFF; //Основной фоновый цвет
$colorBgSecondary: #F2F2F7; //Дополнительный фоновый цвет для разграничения объектов, находящихся на одной плоскости. Заливка стандартных элементов управления
$colorBgThumbnail: #00103D; //Фоновый цвет для иконоки товара
$colorBgContrast: #2C2D2E; //Инверсный фоновый цвет
$colorIcon: #2C2D2E; //Цвет основной иконки
$colorIconSecondary: #BFC1C7; //Цвет второстепенной иконки
$colorIconContrast: #FFFFFF; //Цвет иконки на контрастном фоне
$colorLink: #005BD1; //Цвет для основных ссылок
$colorLinkContrast: #FFFFFF; //Цвет ссылки на инверсном фоне
$colorLinkVisited: #528FDF; //Цвет для посещённых ссылок
$colorSuccess: #0DC268; //Цвет положительных статусов
$colorError: #ED0A34; //Цвет ошибок и критичных предупреждений
$colorNotify: #FF9E00; //Цвет индикатора непрочитанности
$colorWarning: #FF9E00; //Цвет индикатора непрочитанности
$colorBgWarning: #FFFCE0; //Фоновый цвет для предупреждений
$colorRating: #FFD400; //Используется в рейтингах
$colorTrueBlack: #000000; //Абсолютно чёрный. Используется для получения вспомогательных цветов через прозрачность
$colorTrueWhite: #FFFFFF; //Абсолютно белый. Используется для получения вспомогательных цвет через прозрачность
$colorState: #00103D; //Цвет для состояний hover, active и focus. На основных проектах используется черный. Прозрачность цвета определяется параметрами toneValueX1, toneValueX2,
$colorAlert: #C1341B; //Цвет алертов. Используется для подсветки фишинговых
$colorBgHighlight: #FFF1AD; //Цвет подсветки

.bg{
  background-color: var(--colorBg);
}
