:root {
  --colorText: #2C2D2E; //Основной чёрный цвет для текста, иконок и проч
  --colorTextSecondary: #919399; //Цвет для текста аннотаций, сносок и атрибутов
  --colorTextContrast: #FFFFFF; //Инверсный цвет для шрифта на тёмных фонах
  --colorLink: #005BD1; //Цвет для основных ссылок
  --colorSuccess: #0DC268; //Цвет положительных статусов
  --colorError: #ED0A34; //Цвет ошибок и критичных предупреждений
}
